body {
  margin: 0px;
}

button {
  font-size: 100%;
  width: 150px;
  background-color: white;
  padding: 5px;
  margin-bottom: 3px;
}

.converters-wrapper {
  background-color: white;
  padding: 2px;
}

.converter-item {
  width: 100%;
  height: 30px;
  margin: 3px 0px;
  display: flex;
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  background-color: white;
}

.converter-item:hover {
  background-color:
}

.converter-name {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  margin: 0px;
  padding: 6px;
  font-size: 12px;
  font-weight: 700;
}

.editButton {
  box-sizing: border-box;
  width: 15%;
  height: 100%;
  margin: 0px;
  padding: 6px;
  font-size: 12px;
}

.deleteButton {
  box-sizing: border-box;
  width: 15%;
  height: 100%;
  margin: 0px;
  padding: 6px;
  font-size: 12px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
