body {
  margin: 0px;
  background-color: #E0E0E0;
  font-size: 12px;
}

.converters-wrapper {
  padding: 2px;
}

.big-button {
  width: 100%;
  height: 30px;
  margin: 3px 0px;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  background-color: white;
}

.big-button:hover {
  background-color: #F0F0F0;
}

.converter-name {
  box-sizing: border-box;
  width: 110px;
  height: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.small-button {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 3px;
}

.small-button:hover {
  background-color: #D3D3D3;
}

.activate-button {
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
